@import "https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;700&display=swap";
/* [project]/styles/globals.css [app-client] (css) */
:root {
  --color-light: #f3ede6;
  --color-dark: #1b1d22;
  --color-accent: #ce543a;
}

.header {
  z-index: 100;
  background: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav {
  justify-content: space-between;
  align-items: center;
  padding: 24px 50px;
  display: flex;
}

.navLinks {
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navLinks a {
  color: var(--color-light);
  opacity: .9;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: opacity .2s;
}

.navLinks a, .phone {
  color: var(--color-light);
  font-size: 18px;
  text-decoration: none;
}

.navLinks a:hover {
  opacity: 1;
}

.phone {
  color: var(--color-light);
  white-space: nowrap;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #111;
  background: #fff;
  margin: 0;
  font-family: Roboto Condensed, sans-serif;
}

.page {
  width: 100%;
}

section {
  padding-left: 50px;
  padding-right: 50px;
  scroll-margin-top: 100px;
}

.hero {
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 160px;
  display: flex;
  position: relative;
}

.hero-bg {
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
}

.hero-bg-desktop {
  display: block;
}

.hero-bg-mobile {
  display: none;
}

.hero-content {
  z-index: 1;
  max-width: 900px;
  color: var(--color-light);
  position: relative;
}

.hero-subtitle {
  margin-bottom: 4px;
  font-family: Unbounded, sans-serif;
  font-size: 32px;
  line-height: 1;
}

.title-second-name {
  color: var(--color-light);
  margin: 0 0 20px;
  font-family: Unbounded, sans-serif;
  font-size: 180px;
  font-weight: 500;
  line-height: 1;
}

.title-first-name {
  color: var(--color-light);
  margin: 0 0 4px;
  font-family: Unbounded, sans-serif;
  font-size: 132px;
  font-weight: 500;
  line-height: .8;
}

.hero-actions {
  gap: 20px;
  display: flex;
}

.btn {
  cursor: pointer;
  border-radius: 16px;
  padding: 16px 36px;
  font-family: Unbounded, sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: all .2s;
}

.btn-outline {
  background: var(--color-dark);
  color: var(--color-light);
  border: 3px solid var(--color-light);
}

.btn-outline:hover {
  background: var(--color-light);
  color: var(--color-dark);
}

.btn-filled {
  background: var(--color-light);
  color: var(--color-dark);
  border: 3px solid var(--color-light);
}

.btn-filled:hover {
  background: var(--color-accent);
  color: var(--color-light);
  border: 3px solid var(--color-accent);
}

.marquee {
  z-index: 2;
  background: #ce543a33;
  padding: 4px 0;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow: hidden;
}

.marquee-content {
  white-space: nowrap;
  animation: 15s linear infinite marquee;
  display: flex;
}

.marquee-content span {
  color: #ce543a;
  padding-right: 120px;
  font-family: Unbounded, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .header, .hero-bg-desktop {
    display: none;
  }

  .hero-bg-mobile {
    display: block;
  }

  .hero {
    align-items: flex-end;
    padding-bottom: 80px;
  }

  .hero-content {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-subtitle {
    font-family: Unbounded, sans-serif;
    font-size: 24px;
  }

  .title-first-name {
    font-size: 60px;
  }

  .title-second-name {
    margin-bottom: 30px;
    font-size: 80px;
  }

  .hero-actions {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .btn {
    width: 100%;
    padding: 16px 10px;
    font-size: 14px;
  }

  section {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*# sourceMappingURL=styles_globals_9fb35f7d.css.map*/